<div class="container">
   <div class="footer-menu">
      <div class="row row-col-lg-4 row-col-sm-2 row-col-1 g-x-lg-2 g-y-2">
         <div class="col">
            <div class="footer__list">
               <h3 class="footer__title">Shop</h3>
               <a href="#!" class="footer__link">All Department</a>
               <a href="#!" class="footer__link">Featured Shop</a>
               <a href="#!" class="footer__link">Deals</a>
               <a href="#!" class="footer__link">Electronics Discount</a>
               <a href="#!" class="footer__link">Home & Living Specials</a>
               <a href="#!" class="footer__link">Beauty</a>
            </div>
         </div>
         <div class="col">
            <div class="footer__list">
               <h3 class="footer__title">Company</h3>
               <a href="#!" class="footer__link">Customer Service</a>
               <a href="#!" class="footer__link">Terms of Use</a>
               <a href="#!" class="footer__link">Privacy</a>
               <a href="#!" class="footer__link">Careers</a>
               <a href="#!" class="footer__link">About</a>
            </div>
         </div>
         <div class="col">
            <div class="footer__list">
               <h3 class="footer__title">Support</h3>
               <a href="#!" class="footer__link">Store locator</a>
               <a href="#!" class="footer__link">Order status</a>
               <button class="support footer__btn">Gocery Mart Support</button>
            </div>
         </div>
         <div class="col">
            <div class="footer__list">
               <h3 class="footer__title">Contact</h3>
               <div class="block">
                  <span class="email footer__link">Email</span>
                  <a href="#!" class="footer__link footer__link--small"
                     >contact@grocerymart.com</a
                  >
               </div>
               <div class="block">
                  <span class="address-name footer__link">Address</span>
                  <span class="address-main footer__link footer__link--small"
                     >No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward,
                     Cau Giay District, City. Hanoi</span
                  >
               </div>
               <div class="block">
                  <span class="hotline footer__link">Hotline</span>
                  <a href="#!" class="footer__link footer__link--small"
                     >09001110007</a
                  >
               </div>
               <div class="block">
                  <span class="hours footer__link">Hours</span>
                  <a href="#!" class="footer__link footer__link--small">
                     M - F 08:00am - 8:00pm
                  </a>
               </div>
               <div class="footer__icon">
                  <a href="#!" class="faceb-icon network-society">
                     <img src="./assets/icon/faceb.svg" alt="Facebook" />
                  </a>
                  <a href="#!" class="intas-icon network-society">
                     <img src="./assets/icon/instagram.svg" alt="Instagram" />
                  </a>
                  <a href="#!" class="tiktok-icon network-society">
                     <img src="./assets/icon/icons8-tiktok.svg" alt="" />
                  </a>
                  <a href="#!" class="twitter-icon network-society">
                     <img src="./assets/icon/twitter.svg" alt="twitter" />
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
