<div class="container">
   <div class="top-bar">
      <div class="main-logo">
         <a href="#" class="main-logo__icon">
            <img
               class="logo__icon"
               src="../assets/icon/logo.svg"
               alt="grocerymart"
            />
         </a>
         <h1 class="main-logo__text"><a href="#">grocerymart</a></h1>
      </div>
      <input
         type="checkbox"
         name=""
         id="check-bars"
         class="check-bars show-on-moblie"
      />
      <label for="check-bars" class="bars show-on-moblie">
         <span class="icon-bars"></span>
         <span class="icon-bars"></span>
         <span class="icon-bars"></span>
      </label>
      <label for="check-bars" class="menu-overlay show-on-moblie"></label>
      <nav class="nav-bar">
         <ul class="main-menu">
            <li>
               <a href="!#"
                  >Department
                  <img
                     class="arrow-down icon"
                     src="./assets/icon/arrow-down.svg"
                     alt=""
                  />
               </a>
            </li>
            <li>
               <a href="!#"
                  >Grocery
                  <img
                     class="arrow-down icon"
                     src="./assets/icon/arrow-down.svg"
                     alt=""
                  />
               </a>
            </li>
            <li>
               <a href="!#"
                  >Beauty
                  <img
                     class="arrow-down icon"
                     src="./assets/icon/arrow-down.svg"
                     alt=""
                  />
               </a>
            </li>
         </ul>
      </nav>
      <nav class="nav-bar-mobile show-on-moblie">
         <label for="check-bars" class="icon-menu-drawer"
            ><img
               src="./assets/icon/arrow-left.svg"
               alt=""
               class="arrow-left icon"
         /></label>
         <div class="clients">
            <div class="clients__interact">
               <a href="" class="interact__shopping">
                  <img
                     src="./assets/icon/cart.svg"
                     alt=""
                     class="shopping__cart icon"
                  />
                  <span class="shopping__name interact__name">Cart</span>
                  <span class="shopping__money interact__title">3</span>
               </a>
               <a href="" class="interact__like">
                  <img
                     src="./assets/icon/heart.svg"
                     alt=""
                     class="like__heart icon"
                  />
                  <span class="like__name interact__name">Favorite</span>
                  <span class="like__number interact__title">3</span>
               </a>
            </div>
         </div>
         <ul class="main-menu">
            <li>
               <a href="!#"
                  >Department
                  <img
                     class="arrow-down icon"
                     src="./assets/icon/arrow-down.svg"
                     alt=""
                  />
               </a>
            </li>
            <li>
               <a href="!#"
                  >Grocery
                  <img
                     class="arrow-down icon"
                     src="./assets/icon/arrow-down.svg"
                     alt=""
                  />
               </a>
            </li>
            <li>
               <a href="!#"
                  >Beauty
                  <img
                     class="arrow-down icon"
                     src="./assets/icon/arrow-down.svg"
                     alt=""
                  />
               </a>
            </li>
         </ul>
      </nav>
      <div class="clients">
         <button class="clients__search">
            <img src="./assets/icon/search.svg" class="icon" alt="" />
         </button>
         <div class="clients__interact">
            <a href="" class="interact__like">
               <img
                  src="./assets/icon/heart.svg"
                  alt=""
                  class="like__heart icon"
               />
               <span class="like__number interact__title">03</span>
            </a>
            <div class="interact__divide"></div>
            <a href="" class="interact__shopping">
               <img
                  src="./assets/icon/cart.svg"
                  alt=""
                  class="shopping__cart icon"
               />
               <span class="shopping__money interact__title">$65.42</span>
            </a>
         </div>
         <span class="clients__avatar">
            <img
               src="./assets/avatar/avatar-clientsjpg.jpg"
               alt=""
               class="avatar"
            />
         </span>
      </div>
   </div>
</div>
