@use "../abstract";
/* show mobile */
.show-on-moblie {
   display: none;
}
@include abstract.break-points(md) {
   .show-on-moblie {
      display: block;
   }
}
/*===========Header=================*/
.header {
   padding: 30px 0px;
   background: var(--header-bg-color);
   @include abstract.break-points(md) {
      & {
         padding: 36px;
         background: var(--clients-bg-color);
      }
   }
}
%flexCenter {
   display: flex;
   align-items: center;
}
/*-------------Top-bar--------------*/
.top-bar {
   position: relative;
   @extend %flexCenter;
   @include abstract.break-points(md) {
      & {
         justify-content: space-between;
      }
   }
}
/* Main menu*/
.main-menu {
   display: flex;
   margin-left: 129px;
   @include abstract.break-points(xl) {
      & {
         margin-left: 80px;
      }
   }

   /* Mega hover*/
   & li:hover .mega {
      opacity: 1;
      visibility: visible;
      @include abstract.break-points(md) {
         display: block;
      }
   }
   /* thẻ a trực tiếp */
   & > li > a {
      @extend %flexCenter;
      gap: 0px 6px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.2rem;
      padding: 14px 15px;
   }
}
%clients-block-common {
   @extend %flexCenter;
   justify-content: center;
   border-radius: 8px;
}
%clients-bg-and-shadow {
   background: var(--clients-bg-color);
   box-shadow: var(--clients-shadow);
}
/*Clients*/
.clients {
   position: relative;
   margin-left: auto;
   @extend %flexCenter;
   gap: 0px 20px;
   @include abstract.break-points(md) {
      & {
         margin-left: 0px;
      }
   }
   /*Search*/
   &__search {
      @extend %clients-block-common;
      @extend %clients-bg-and-shadow;
      padding: 14.5px;
   }
   /*Interact*/
   &__interact {
      display: flex;
      gap: 0px 20px;
      @extend %clients-bg-and-shadow;
      padding: 10px 23px;
      border-radius: 8px;
   }
   /*Avatar user*/
   &__avatar {
      @extend %clients-block-common;
      height: 50px;
      img {
         max-width: 100%;
         max-height: 100%;
         object-fit: cover;
         border-radius: 8px;
      }
   }
}
.interact {
   &__title {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.2rem;
   }

   &__like,
   &__shopping {
      @extend %flexCenter;
      gap: 0px 10px;
   }
   &__divide {
      width: 1px;
      height: 30px;
      background: #ededf6;
   }
}
.bridge-2 {
   display: none;
   position: absolute;
   z-index: 2;
   padding-top: 40px;
   top: 41.5px;
   right: 0px;
   left: -334px;
}
.product-card {
   --margin-common: 30px;
   position: absolute;
   right: 0px;
   padding: 30px;
   background: var(--product-card-bg-color);
   box-shadow: 0px 40px 90px 20px var(--product-card-shadow);
   border-radius: 20px;
   color: var(--product-card-color);
   &::before {
      top: -10.5px;
      right: 16.13%;
      position: absolute;
      content: "";
      display: block;
      width: 23px;
      height: 23px;
      background: var(--clients-bg-color);
      border-radius: 5px;
      rotate: 45deg;
   }
   %style-text-common {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.45455;
   }
   .block-card {
      @extend %flexCenter;
      justify-content: space-between;
      margin-bottom: var(--margin-common);
   }
   &__title {
      @extend %style-text-common;
   }
   &__link-see {
      color: #0071dc;
      @extend %style-text-common;
   }
   &__pic {
      @extend %flexCenter;
      justify-content: center;
      width: 175px;
      height: 172px;
      background: rgba(0, 0, 0, 0.05);
      img {
         max-width: 100%;
         max-height: 100%;
         object-fit: contain;
      }
   }
   &__menu {
      margin-bottom: var(--margin-common);
   }
   &__title-2 {
      margin: 14px 0px 6px;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.42857;
   }
   &__price {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46667;
   }
   &__divide {
      width: inherit;
      height: 1px;
      margin-top: var(--margin-common);
      margin-bottom: calc(var(--margin-common) - 20px);
      background: var(--product-card-divide-bg-color);
   }
   &__price-detail {
      padding-top: calc(var(--margin-common) - 10px);
      @extend %flexCenter;
      justify-content: space-between;
      .text {
         font-size: 2.2rem;
         font-weight: 400;
         line-height: 1.45455;
      }
      .price {
         @extend .text;
      }
      .text.totalPrice {
         font-weight: 500;
      }
      .price.totalPrice {
         font-weight: 500;
      }
   }
   &__btn-block {
      padding-top: calc(var(--margin-common) - 10px);
      text-align: right;
   }
   &__btn {
      color: #1a162e;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.45455;
      border-radius: 50px;
      background: #ffb700;
      padding: 18px 66.8px;
   }
}
.bridge {
   display: flex;
   align-items: center;
   &:hover .bridge-2 {
      display: block;
   }
}
@include abstract.break-points(md) {
   /*Bars*/
   .bars {
      order: -1;
      margin-top: -6px;
   }
   .icon-bars {
      flex: 1 0 auto;
      margin-top: 6px;
      display: block;
      width: 20px;
      height: 1px;
      background: var(--text-color);
      border: 2px solid var(--text-color);
      border-radius: 2px;
   }
   .icon-bars:last-of-type {
      width: 10px;
      height: 1px;
   }
   /* Menu overlay*/
   .menu-overlay {
      position: fixed;
      inset: 0;
      z-index: 9999;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s, visibility 0.25s;
   }
   /* Nav-bar tren mobile*/
   .nav-bar-mobile {
      padding: 20px;
      position: fixed;
      z-index: 99999;
      inset: 0 10% 0 0;
      background: var(--clients-bg-color);
      transform: translateX(-100%);
      transition: transform 0.25s;
      /* Menu*/
      ul.main-menu {
         margin-top: 10px;
      }
      /* Clients*/
      .clients {
         margin-top: 20px;
         margin-bottom: 21px;
         display: block;
         &__interact {
            box-shadow: none;
         }
      }
      ul.main-menu,
      .clients__interact {
         display: flex;
         flex-direction: column;
         margin-left: 0px;
         gap: 21px 0px;
      }
      .clients__interact,
      ul.main-menu a {
         padding: 0px;
      }
      .interact {
         &__name {
            color: var(--text-color);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46667;
         }
         &__title {
            margin-left: auto;
         }
      }
   }
   .check-bars {
      display: none;
      &:checked ~ label.menu-overlay {
         opacity: 1;
         visibility: visible;
      }
      &:checked ~ .nav-bar-mobile {
         transform: translateX(0);
      }
   }
}
