*,
::after,
::before {
   box-sizing: border-box;
}

html,
body {
   scroll-behavior: smooth;
}
html {
   font-size: 62.5%;
}
body {
   font-family: "Gordita", sans-serif;
   color: var(--text-color);
}
a {
   text-decoration: none;
   display: inline-block;
   color: inherit;
}
button {
   display: inline-block;
   outline: none;
   border: transparent;
   background: transparent;
   cursor: pointer;
}
button,
input,
textarea,
select {
   font-family: inherit;
   color: inherit;
}
.icon {
   filter: var(--icon-color);
}
.no-wrap {
   white-space: nowrap;
}
