$breakpoints: (
   xxl: 1400px,
   xl: 1200px,
   lg: 992px,
   md: 768px,
   sm: 576px,
);
$displays: block flex grid none;
@mixin display($infix: null) {
   $breakpoint: if($infix, "-#{$infix}", "");
   @each $display in $displays {
      .d#{$breakpoint}-#{$display} {
         display: $display !important;
      }
   }
}
@include display();
@each $infix, $dimension in $breakpoints {
   @media screen and (max-width: ($dimension - 0.02)) {
      @include display($infix);
   }
}
