@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --gutter-x: 30px;
  --gutter-y: 0;
}

.container-fluid, .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--gutter-y) * -1);
  margin-left: calc(var(--gutter-x) * 0.5 * -1);
  margin-right: calc(var(--gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--gutter-y);
  padding-left: calc(var(--gutter-x) * 0.5);
  padding-right: calc(var(--gutter-x) * 0.5);
}

.col {
  flex: 1 0;
}

.row-col-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-col-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-col-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-col-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-col-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-col-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.g-x-0 {
  --gutter-x: 0px;
}

.g-0,
.g-y-0 {
  --gutter-y: 0px;
}

.g-1,
.g-x-1 {
  --gutter-x: 7.5px;
}

.g-1,
.g-y-1 {
  --gutter-y: 7.5px;
}

.g-2,
.g-x-2 {
  --gutter-x: 15px;
}

.g-2,
.g-y-2 {
  --gutter-y: 15px;
}

.g-3,
.g-x-3 {
  --gutter-x: 30px;
}

.g-3,
.g-y-3 {
  --gutter-y: 30px;
}

.g-4,
.g-x-4 {
  --gutter-x: 45px;
}

.g-4,
.g-y-4 {
  --gutter-y: 45px;
}

.g-5,
.g-x-5 {
  --gutter-x: 90px;
}

.g-5,
.g-y-5 {
  --gutter-y: 90px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-col-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .g-x-sm-0 {
    --gutter-x: 0px;
  }
  .g-sm-0,
  .g-y-sm-0 {
    --gutter-y: 0px;
  }
  .g-sm-1,
  .g-x-sm-1 {
    --gutter-x: 7.5px;
  }
  .g-sm-1,
  .g-y-sm-1 {
    --gutter-y: 7.5px;
  }
  .g-sm-2,
  .g-x-sm-2 {
    --gutter-x: 15px;
  }
  .g-sm-2,
  .g-y-sm-2 {
    --gutter-y: 15px;
  }
  .g-sm-3,
  .g-x-sm-3 {
    --gutter-x: 30px;
  }
  .g-sm-3,
  .g-y-sm-3 {
    --gutter-y: 30px;
  }
  .g-sm-4,
  .g-x-sm-4 {
    --gutter-x: 45px;
  }
  .g-sm-4,
  .g-y-sm-4 {
    --gutter-y: 45px;
  }
  .g-sm-5,
  .g-x-sm-5 {
    --gutter-x: 90px;
  }
  .g-sm-5,
  .g-y-sm-5 {
    --gutter-y: 90px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-col-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .g-x-md-0 {
    --gutter-x: 0px;
  }
  .g-md-0,
  .g-y-md-0 {
    --gutter-y: 0px;
  }
  .g-md-1,
  .g-x-md-1 {
    --gutter-x: 7.5px;
  }
  .g-md-1,
  .g-y-md-1 {
    --gutter-y: 7.5px;
  }
  .g-md-2,
  .g-x-md-2 {
    --gutter-x: 15px;
  }
  .g-md-2,
  .g-y-md-2 {
    --gutter-y: 15px;
  }
  .g-md-3,
  .g-x-md-3 {
    --gutter-x: 30px;
  }
  .g-md-3,
  .g-y-md-3 {
    --gutter-y: 30px;
  }
  .g-md-4,
  .g-x-md-4 {
    --gutter-x: 45px;
  }
  .g-md-4,
  .g-y-md-4 {
    --gutter-y: 45px;
  }
  .g-md-5,
  .g-x-md-5 {
    --gutter-x: 90px;
  }
  .g-md-5,
  .g-y-md-5 {
    --gutter-y: 90px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-col-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .g-x-lg-0 {
    --gutter-x: 0px;
  }
  .g-lg-0,
  .g-y-lg-0 {
    --gutter-y: 0px;
  }
  .g-lg-1,
  .g-x-lg-1 {
    --gutter-x: 7.5px;
  }
  .g-lg-1,
  .g-y-lg-1 {
    --gutter-y: 7.5px;
  }
  .g-lg-2,
  .g-x-lg-2 {
    --gutter-x: 15px;
  }
  .g-lg-2,
  .g-y-lg-2 {
    --gutter-y: 15px;
  }
  .g-lg-3,
  .g-x-lg-3 {
    --gutter-x: 30px;
  }
  .g-lg-3,
  .g-y-lg-3 {
    --gutter-y: 30px;
  }
  .g-lg-4,
  .g-x-lg-4 {
    --gutter-x: 45px;
  }
  .g-lg-4,
  .g-y-lg-4 {
    --gutter-y: 45px;
  }
  .g-lg-5,
  .g-x-lg-5 {
    --gutter-x: 90px;
  }
  .g-lg-5,
  .g-y-lg-5 {
    --gutter-y: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-col-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .g-x-xl-0 {
    --gutter-x: 0px;
  }
  .g-xl-0,
  .g-y-xl-0 {
    --gutter-y: 0px;
  }
  .g-xl-1,
  .g-x-xl-1 {
    --gutter-x: 7.5px;
  }
  .g-xl-1,
  .g-y-xl-1 {
    --gutter-y: 7.5px;
  }
  .g-xl-2,
  .g-x-xl-2 {
    --gutter-x: 15px;
  }
  .g-xl-2,
  .g-y-xl-2 {
    --gutter-y: 15px;
  }
  .g-xl-3,
  .g-x-xl-3 {
    --gutter-x: 30px;
  }
  .g-xl-3,
  .g-y-xl-3 {
    --gutter-y: 30px;
  }
  .g-xl-4,
  .g-x-xl-4 {
    --gutter-x: 45px;
  }
  .g-xl-4,
  .g-y-xl-4 {
    --gutter-y: 45px;
  }
  .g-xl-5,
  .g-x-xl-5 {
    --gutter-x: 90px;
  }
  .g-xl-5,
  .g-y-xl-5 {
    --gutter-y: 90px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
  .row-col-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .g-x-xxl-0 {
    --gutter-x: 0px;
  }
  .g-xxl-0,
  .g-y-xxl-0 {
    --gutter-y: 0px;
  }
  .g-xxl-1,
  .g-x-xxl-1 {
    --gutter-x: 7.5px;
  }
  .g-xxl-1,
  .g-y-xxl-1 {
    --gutter-y: 7.5px;
  }
  .g-xxl-2,
  .g-x-xxl-2 {
    --gutter-x: 15px;
  }
  .g-xxl-2,
  .g-y-xxl-2 {
    --gutter-y: 15px;
  }
  .g-xxl-3,
  .g-x-xxl-3 {
    --gutter-x: 30px;
  }
  .g-xxl-3,
  .g-y-xxl-3 {
    --gutter-y: 30px;
  }
  .g-xxl-4,
  .g-x-xxl-4 {
    --gutter-x: 45px;
  }
  .g-xxl-4,
  .g-y-xxl-4 {
    --gutter-y: 45px;
  }
  .g-xxl-5,
  .g-x-xxl-5 {
    --gutter-x: 90px;
  }
  .g-xxl-5,
  .g-y-xxl-5 {
    --gutter-y: 90px;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Gordita", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  display: inline-block;
  outline: none;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-color);
}

.no-wrap {
  white-space: nowrap;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media screen and (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media screen and (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media screen and (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media screen and (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media screen and (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(9%)
     saturate(3858%) hue-rotate(210deg) brightness(95%) contrast(97%);
  --clients-bg-color: #fff;
  --header-bg-color: #eeeeee;
  --clients-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  --mega-menu-shadow: rgba(200, 200, 200, 0.4);
  --mega-menu-divide-bg-color: #d2d1d6;
  --color-icon-mega-menu: #1a162e;
  --home-page-bg-color: #f6f6f6;
  --categories-shadow: rgba(237, 237, 246, 0.2);
  --br-categories-pic-bg: #fff;
  --br-categories-list-title-color: #000;
  --lavazza-list-bg-color: #fff;
  --lavazza-list-shadow: rgba(237, 237, 246, 0.2);
  --list-pic-bg-color-hover: #fff;
}

html.dark {
  --text-color: #ffffff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
     saturate(0%) hue-rotate(299deg) brightness(104%) contrast(101%);
  --clients-bg-color: #292e39;
  --header-bg-color: #171c28;
  --clients-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
  --mega-menu-shadow: rgba(23, 28, 40, 0.4);
  --mega-menu-divide-bg-color: #171c28;
  --color-icon-mega-menu: #f8f8fb;
  --home-page-bg-color: #292e39;
  --categories-shadow: rgba(0, 0, 0, 0.2);
  --br-categories-pic-bg: #292e39;
  --br-categories-list-title-color: #fff;
  --lavazza-list-bg-color: #171c28;
  --lavazza-list-shadow: rgba(0, 0, 0, 0.2);
  --list-pic-bg-color-hover: #f0ece2;
}

/* show mobile */
.show-on-moblie {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .show-on-moblie {
    display: block;
  }
}
/*===========Header=================*/
.header {
  padding: 30px 0px;
  background: var(--header-bg-color);
}
@media screen and (max-width: 767.98px) {
  .header {
    padding: 36px;
    background: var(--clients-bg-color);
  }
}

.interact__like, .interact__shopping, .clients, .clients__avatar, .clients__search, .main-menu > li > a, .top-bar {
  display: flex;
  align-items: center;
}

/*-------------Top-bar--------------*/
.top-bar {
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .top-bar {
    justify-content: space-between;
  }
}

/* Main menu*/
.main-menu {
  display: flex;
  margin-left: 129px;
  /* Mega hover*/
  /* thẻ a trực tiếp */
}
@media screen and (max-width: 1199.98px) {
  .main-menu {
    margin-left: 80px;
  }
}
.main-menu li:hover .mega {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .main-menu li:hover .mega {
    display: block;
  }
}
.main-menu > li > a {
  gap: 0px 6px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2rem;
  padding: 14px 15px;
}

.clients__avatar, .clients__search {
  justify-content: center;
  border-radius: 8px;
}

.clients__interact, .clients__search {
  background: var(--clients-bg-color);
  box-shadow: var(--clients-shadow);
}

/*Clients*/
.clients {
  margin-left: auto;
  gap: 0px 20px;
  /*Search*/
  /*Interact*/
  /*Avatar user*/
}
@media screen and (max-width: 767.98px) {
  .clients {
    margin-left: 0px;
  }
}
.clients__search {
  padding: 14.5px;
}
.clients__interact {
  display: flex;
  gap: 0px 20px;
  padding: 10px 23px;
  border-radius: 8px;
}
.clients__avatar {
  height: 50px;
}
.clients__avatar img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.interact__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.interact__like, .interact__shopping {
  gap: 0px 10px;
}
.interact__divide {
  width: 1px;
  height: 30px;
  background: #ededf6;
}

@media screen and (max-width: 767.98px) {
  /*Bars*/
  .bars {
    order: -1;
    margin-top: -6px;
  }
  .icon-bars {
    flex: 1 0 auto;
    margin-top: 6px;
    display: block;
    width: 20px;
    height: 1px;
    background: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 2px;
  }
  .icon-bars:last-of-type {
    width: 10px;
    height: 1px;
  }
  /* Menu overlay*/
  .menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;
  }
  /* Nav-bar tren mobile*/
  .nav-bar-mobile {
    padding: 20px;
    position: fixed;
    z-index: 99999;
    inset: 0 10% 0 0;
    background: var(--clients-bg-color);
    transform: translateX(-100%);
    transition: transform 0.25s;
    /* Menu*/
    /* Clients*/
  }
  .nav-bar-mobile ul.main-menu {
    margin-top: 10px;
  }
  .nav-bar-mobile .clients {
    margin-top: 20px;
    margin-bottom: 21px;
    display: block;
  }
  .nav-bar-mobile .clients__interact {
    box-shadow: none;
  }
  .nav-bar-mobile ul.main-menu,
  .nav-bar-mobile .clients__interact {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    gap: 21px 0px;
  }
  .nav-bar-mobile .clients__interact,
  .nav-bar-mobile ul.main-menu a {
    padding: 0px;
  }
  .nav-bar-mobile .interact__name {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46667;
  }
  .nav-bar-mobile .interact__title {
    margin-left: auto;
  }
  .check-bars {
    display: none;
  }
  .check-bars:checked ~ label.menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .check-bars:checked ~ .nav-bar-mobile {
    transform: translateX(0);
  }
}
.categories__link, .lavazza .list__price, .lavazza .list__pic .circle__heart, .br-categories .list__inner, .drawer__main .circle, .drawer__main, .content__drawer {
  display: flex;
  align-items: center;
}

.home-page {
  --primary-bg-color: #77dae6;
  padding: 30px 50px 38px;
  background: var(--home-page-bg-color);
}
.home-page__content {
  position: relative;
  padding: 42px 0px 66px 70px;
  background: var(--primary-bg-color);
  border-radius: 20px;
}

.content__title {
  width: min(421px, 100%);
  color: #fff;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.42857;
  margin-bottom: 180px;
}
.content__drawer {
  gap: 0px 10px;
}
.content__pic .pic-1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.content__pic .pic-2 {
  position: absolute;
  right: 133px;
  bottom: 93px;
}
.content__pic .pic-3 {
  position: absolute;
  right: 75px;
  bottom: 79px;
}

.drawer__number {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.44444;
}
.drawer__main span {
  display: inline-block;
}
.drawer__main .circle {
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
}
.drawer__main .circle__inner {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-bg-color);
}
.drawer__main .straight-line {
  width: 184px;
  height: 4px;
  background: #fff;
}

.br-categories {
  padding-top: 40px;
}
.br-categories__menu {
  width: 100%;
}
.br-categories .change-gutter {
  --gutter-x: 51px;
}
@media screen and (max-width: 991.98px) {
  .br-categories .change-gutter {
    --gutter-y: 20px;
  }
}
.br-categories__title, .lavazza__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41667;
  margin-bottom: 20px;
}
.br-categories__list {
  padding: 20px;
  padding-right: 26px;
  background: var(--header-bg-color);
  border-radius: 16px;
  transition: background 0.25s;
  cursor: pointer;
}
@media screen and (max-width: 1199.98px) {
  .br-categories__list {
    height: 100%;
  }
}
.br-categories__list:hover {
  background: var(--primary-bg-color);
}
.br-categories__list:hover .list__pic {
  background: #fff;
}
.br-categories__list:hover .list__title,
.br-categories__list:hover .list__desc {
  color: #fff;
}
.br-categories .list__inner {
  gap: 20px;
}
@media screen and (max-width: 1199.98px) {
  .br-categories .list__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 991.98px) {
  .br-categories .list__inner {
    flex-direction: row;
  }
}
.br-categories .list__pic {
  flex-shrink: 0;
  width: 116px;
  height: 116px;
  background: var(--br-categories-pic-bg);
  border-radius: 10px;
  transition: background 0.25s;
}
@media screen and (max-width: 1199.98px) {
  .br-categories .list__pic {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 991.98px) {
  .br-categories .list__pic {
    width: 116px;
  }
}
.br-categories .list__pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.br-categories .list__title {
  color: var(--br-categories-list-title-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.45455;
  transition: color 0.25s;
}
.br-categories .list__desc {
  width: min(214px, 100%);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  transition: color 0.25s;
}

.lavazza .change-gutter {
  --gutter-y: 30px;
}
.lavazza a {
  display: block;
}
.lavazza__title {
  margin-top: 41px;
  margin-bottom: 21px;
}
.lavazza__list {
  background: var(--lavazza-list-bg-color);
  box-shadow: 0px 20px 60px 10px var(--lavazza-list-shadow);
  border-radius: 20px;
  transition: background 0.25s;
  cursor: pointer;
}
.lavazza__list:hover {
  background: var(--primary-bg-color);
}
.lavazza__list:hover .list__pic {
  background: var(--list-pic-bg-color-hover);
}
.lavazza__list:hover .list__title,
.lavazza__list:hover .list__title-2,
.lavazza__list:hover .price,
.lavazza__list:hover .number-star {
  color: var(--list-pic-bg-color-hover);
}
.lavazza .list__inner {
  padding: 16px;
}
.lavazza .list__pic {
  flex-shrink: 0;
  width: 280px;
  height: 284px;
  position: relative;
  background: var(--lavazza-list-bg-color);
  border-radius: 10px;
  transition: background 0.25s;
}
.lavazza .list__pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.lavazza .list__pic .circle__heart {
  position: absolute;
  right: 0px;
  bottom: 0px;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--br-categories-pic-bg);
  border-radius: 50%;
  box-shadow: 0px 20px 60px 6px rgba(124, 124, 124, 0.2);
}
.lavazza .list__title {
  margin-top: 16px;
  width: min(260px, 100%);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.25s;
}
.lavazza .list__title-2 {
  margin: 16px 0px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.46667;
  transition: color 0.25s;
}
.lavazza .list__price .number-star, .lavazza .list__price .price {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.25s;
}
.lavazza .list__price .price {
  display: block;
  margin-right: auto;
}
.lavazza .list__price .number-star {
  margin-left: 6px;
}

.categories__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41667;
  margin-bottom: 20px;
}
.categories__link {
  justify-content: space-between;
  background: var(--header-bg-color);
  box-shadow: 0px 20px 60px 10px var(--categories-shadow);
  border-radius: 10px;
  padding-left: 20px;
  transition: color 0.25s, background 0.25s;
}
.categories__link:hover {
  color: #fff;
  background: var(--primary-bg-color);
}

.categories__menu .list__title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}
.categories__menu li + li {
  margin-top: 16px;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 0px 14px;
}
@media screen and (max-width: 575.98px) {
  .main-logo {
    margin-left: 39px;
    margin-right: 39px;
  }
}

@media screen and (max-width: 575.98px) {
  .main-logo__icon .logo__icon {
    width: 24px;
  }
}

.main-logo__text a {
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.2rem;
}
@media screen and (max-width: 575.98px) {
  .main-logo__text a {
    font-size: 1.8rem;
    line-height: 1.44444;
  }
}

.mega-menu__block-title-icon {
  display: flex;
}

.mega {
  width: min(1240px, 100%);
  position: absolute;
  z-index: 999;
  left: 0px;
  top: 50px;
  padding-top: 54px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
}
@media screen and (max-width: 767.98px) {
  .mega {
    display: none;
    opacity: 1;
    visibility: visible;
    position: static;
    padding-top: 0px;
    height: calc(100vh - 364px);
    overflow-y: auto;
  }
}

.mega__inner {
  position: relative;
  padding: 30px;
  padding-right: 62px;
  background: var(--clients-bg-color);
  box-shadow: 0px 40px 90px 20px var(--mega-menu-shadow);
  border-radius: 20px;
}
@media screen and (max-width: 767.98px) {
  .mega__inner {
    box-shadow: none;
    padding: 0;
    margin-top: 20px;
  }
}

.mega-menu {
  --mega-menu-width: 268px;
  --mega-menu-padding-right: 30px;
  width: min(var(--mega-menu-width), 100%);
  border-right: 2px solid var(--mega-menu-divide-bg-color);
}
@media screen and (max-width: 767.98px) {
  .mega-menu {
    border-right: none;
  }
}
.mega-menu > li.list-title {
  margin-top: -30px;
}
.mega-menu > li {
  padding-right: var(--mega-menu-padding-right);
}
.mega-menu__block-title-icon {
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
@media screen and (max-width: 767.98px) {
  .mega-menu__block-title-icon {
    gap: 0px 14px;
  }
}
.mega-menu__title > a {
  padding-left: 14px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}
.mega-menu__link {
  margin-left: 50px;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42857;
  transition: color 0.25s;
  text-align: left;
}
@media screen and (max-width: 575.98px) {
  .mega-menu__link {
    margin-left: 0px;
  }
}
.mega-menu__link + .mega-menu__link, .mega-menu > li:not(.list-title) + li {
  margin-top: 14px;
}
.mega-menu__link::before {
  content: attr(title);
  height: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  font-weight: 500;
}
.mega-menu__link:hover {
  color: #0071dc;
  font-weight: 500;
}

.main-menu > li:first-of-type .mega-menu > li:hover > .mega-menu__link {
  color: #0071dc;
  font-weight: 500;
}

li.Electronics:hover .sub-mega-menu {
  display: grid;
}

.sub-mega-menu {
  display: none;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  inset: var(--mega-menu-padding-right) 0 0 calc(var(--mega-menu-width));
  padding-left: var(--mega-menu-padding-right);
}
.sub-mega-menu > li {
  margin-top: -30px;
}
@media screen and (max-width: 767.98px) {
  .sub-mega-menu {
    position: static;
    grid-template-columns: 1fr;
    padding-left: 0px;
    justify-items: flex-start;
    margin-top: 14px;
  }
  .sub-mega-menu .mega-menu__block-title-icon {
    gap: 0px 14px;
  }
  .sub-mega-menu .mega-menu__link {
    margin-left: 50px;
  }
}
@media screen and (max-width: 991.98px) {
  .sub-mega-menu {
    grid-template-columns: 1fr;
    overflow-y: auto;
  }
}

.mega-3 .mega__inner::before, .mega-2 .mega__inner::before, .mega__inner::before {
  position: absolute;
  top: -10px;
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: var(--clients-bg-color);
  border-radius: 5px;
  rotate: 45deg;
}

.mega__inner::before {
  left: 375px;
}
@media screen and (max-width: 767.98px) {
  .mega__inner::before {
    content: none;
  }
}

@media screen and (max-width: 767.98px) {
  .mega-3 .mega__inner, .mega-2 .mega__inner {
    position: static;
  }
}
.mega-3 .mega-menu, .mega-2 .mega-menu {
  width: 100%;
  display: grid;
  grid-template: 1fr auto/repeat(4, 1fr);
  border: none;
  padding: 0px;
}
@media screen and (max-width: 767.98px) {
  .mega-3 .mega-menu, .mega-2 .mega-menu {
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
  .mega-3 .mega-menu .mega-menu__link, .mega-2 .mega-menu .mega-menu__link {
    margin-left: 50px;
  }
}
.mega-3 .mega-menu > li, .mega-2 .mega-menu > li, .mega-3 .mega-menu > li + li, .mega-2 .mega-menu > li + li {
  margin-top: -30px;
}
.mega-3 .mega-menu__block-title-icon, .mega-2 .mega-menu__block-title-icon {
  margin-top: 30px;
}
@media screen and (max-width: 767.98px) {
  .mega-3 .mega-menu__block-title-icon, .mega-2 .mega-menu__block-title-icon {
    column-gap: 14px;
  }
}

.mega-2 .mega__inner::before {
  left: 485px;
}

.mega-3 .mega-menu {
  gap: 0px 77px;
}
@media screen and (max-width: 767.98px) {
  .mega-3 .mega-menu {
    gap: 30px 0px;
  }
}
.mega-3 .mega__inner::before {
  left: 580px;
}

/*# sourceMappingURL=main.css.map */
